 <p id="notice"><%= notice %></p>

 <%= render :partial => @post %>

 <div id="comments">
    <%= render :partial => @post.comments %>
 </div>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-10">
		 <%= form_for [@post, Comment.new] do |f| %>
		    <p>
		        <%= f.label :body, "New comment" %><br/>
		        <%= f.text_area :body, :style => "resize:vertical; width: 100%; height:5em;" %>
		    </p>
		    <%= f.submit "Add comment", :class => 'btn btn-primary pull-right' %>
		<% end %>
	</div>
</div>